<section id="fh5co-intro">
    <div class="container">
        <div class="intro-items">
            {{ range.Site.Params.intro.item }}
            <div class="fh5co-block to-animate" style="background-image: url(images/{{ .img }});">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon {{ .icon }}"></i>
                    <h2>{{ .title }}</h2>
                    <p>{{ .description }}</p>
                    {{ if .button}}

                    <a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a>

                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        {{ if .Site.Params.intro.video.enable }}
        <div class="row watch-video text-center to-animate">
            <div class="video-container">
                <iframe
                    src="https://www.youtube-nocookie.com/embed/{{.Site.Params.intro.video.youtube_id}}?rel=0"
                    frameborder="0"
                    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                >
                </iframe>
            </div>
        </div>
        {{ end }}
    </div>
</section>
