.fh5co-nav-toggle {
    width: 1.5625rem;
    height: 1.5625rem;
    cursor: pointer;
    text-decoration: none;
    &.active i {
        &::before,
        &::after {
            background: $brand-primary;
        }
    }
    &:hover,
    &:focus,
    &:active {
        outline: none;
        border-bottom: none !important;
    }
    i {
        position: relative;
        @include inline-block;
        width: 1.5625rem;
        height: 0.1875rem;
        color: $brand-primary;
        font: bold 0.875rem/0.4 Helvetica;
        text-transform: uppercase;
        text-indent: -3.4375rem;
        background: $brand-primary;
        transition: all 0.2s ease-out;
        &::before,
        &::after {
            content: '';
            width: 1.5625rem;
            height: 0.1875rem;
            background: $brand-primary;
            position: absolute;
            left: 0;
            transition: 0.2s;
        }
    }
}

.fh5co-nav-toggle i::before {
    top: -0.4375rem;
}
.fh5co-nav-toggle i::after {
    bottom: -0.4375rem;
}
.fh5co-nav-toggle:hover i::before {
    top: -0.625rem;
}
.fh5co-nav-toggle:hover i::after {
    bottom: -0.625rem;
}
.fh5co-nav-toggle.active i {
    background: transparent;
}
.fh5co-nav-toggle.active i::before {
    top: 0;
    transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
    bottom: 0;
    transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
    position: absolute;
    top: 0.125rem;
    right: 0;
    z-index: 21;
    padding: 0.375rem 0 0 0;
    margin: 0 auto;
    display: none;
    height: 2.75rem;
    width: 1.5625rem;
    border-bottom: none !important;
    @media screen and (max-width: $screen-xs-max) {
        display: block;
    }
}
