#footer {
    padding: 50px 0;
    color: #7f7f7f;
    position: relative;
    .gotop {
        position: absolute;
        top: -1.25rem;
        left: 50%;
        margin-left: -2rem;
        background: $brand-white;
        z-index: 8;
        width: 4rem;
        height: 4rem;
        font-size: 1.875rem;
        padding-top: 0.3125rem;
        text-align: center;
        vertical-align: middle;
       border-radius:50%;
       transition:0.2s;
        &:hover,
        &:focus {
            top: -25px;
            text-decoration: none;
        }
    }
    .copyright {
        font-size: 0.75rem;
    }
}
