// Social
.social {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: $grid-gutter;
    li {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        a {
            font-size: 16px;
            display: table;
            width: 40px;
            height: 40px;
            margin: 0 4px;

            i {
                display: table-cell;
                vertical-align: middle;
            }
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                border-bottom: none;
            }
            &.social-box {
                background: #fff;
                color: $color-brand-orange;
                border: solid 0.0625rem $color-brand-orange;
            }
            &.social-circle {
                background: #fff;
                color: $color-brand-orange;
                border: solid 0.0625rem $color-brand-orange;
                @include border-radius(50%);
            }
            &:hover {
                background: $color-brand-orange;
                color: #fff;
            }
        }
    }
    &.social-box {
        a {
            background: #fff;
            color: $color-brand-orange;
            border: solid 0.0625rem $color-brand-orange;
        }
    }
    &.social-circle {
        a {
            background: #fff;
            color: $color-brand-orange;
            border: solid 0.0625rem $color-brand-orange;
            @include border-radius(50%);
        }
    }
}
