<section class="page-section light-grey usp">
    <div class="column usp-box">
        <h2>Faster</h2>
        <figure>
            ${require('../../images/rocket.svg')}
        </figure>
        <p class="large-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla quod blanditiis vitae maiores, necessitatibus repellendus.
        </p>
    </div>
    <div class="column usp-box">
        <h2>Simpler</h2>
        <figure>
            ${require('../../images/toys.svg')}
        </figure>
        <p class="large-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nulla quod blanditiis vitae maiores, necessitatibus repellendus.
        </p>
    </div>
</section>