<section class="page-section light-grey usp">
    <div class="column usp-box">
        <h2>1</h2>
        <p>Build faster</p>
    </div>
    <div class="column usp-box">
        <h2>2</h2>
        <p>Make it simpler</p>
    </div>
    <div class="column usp-box">
        <h2>3</h2>
        <p>Greater ROI</p>
    </div>
    <div class="column usp-box">
        <h2>4</h2>
        <p>Innovate exponentially</p>
    </div>
    <div class="column usp-box">
        <h2>5</h2>
        <p>Deploy new business models</p>
    </div>

</section>