.usp {
    @extend %flex-container;
    @extend %flex-center-horizontal;
    flex-wrap: wrap;
    .usp-box {
        @extend %flex-container;
        @extend %flex-center-vertical;
        padding: 1rem;
        flex: 1 1 11rem;
        @include media-bp-min(tablet) {
            flex-basis: 12rem;
        }
        @include media-bp-min(desktop) {
            padding: 2rem;
            flex-grow: 1;
        }
        h2 {
            border-bottom: 0.1875rem solid $color-brand-yellow;
            color: $color-brand-grey;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            text-align: center;
            width: 100%;
            @include media-bp-min(tablet) {
                font-size: 2.5rem;
            }
            @include media-bp-min(desktop) {
                font-size: 3.5rem;
            }
        }
        figure {
            margin-bottom: 1rem;
            width: 70%;
            @include media-bp-min(tablet) {
                width: 60%;
            }
            @include media-bp-min(desktop) {
                width: 40%;
            }
        }
        p {
            border-top: 0.1875rem solid $color-brand-yellow;
            text-align: center;
            color: $color-brand-dark-blue;
            font-size: 1.2rem;
            padding-top: 1rem;
            @include media-bp-min(tablet) {
                font-size: 1.3rem;
            }
            @include media-bp-min(desktop) {
                font-size: 1.5rem;
            }
        }
    }
}