.usp {
    @extend %flex-container-horizontal-center;
    flex-wrap: wrap;
    .usp-box {
        @extend %flex-container-vertical-center;
        padding: 1rem;
        flex: 0 1 11rem;
        @include media-bp-min(tablet) {
            flex-basis: 12rem;
        }
        @include media-bp-min(desktop) {
            padding: 2rem;
            flex-grow: 1;
        }
        figure {
            margin-bottom: 1rem;
            width: 70%;
            @include media-bp-min(tablet) {
                width: 60%;
            }
            @include media-bp-min(desktop) {
                width: 40%;
            }
        }
        h2 {
            border-top: 0.1875rem solid $color-brand-yellow;
            text-align: center;
            color: $color-brand-dark-blue;
            font-size: 1.2rem;
            padding-top: 1rem;
            line-height: 1.3em;
            @include media-bp-min(tablet) {
                font-size: 1.3rem;
            }
            @include media-bp-min(desktop) {
                font-size: 1.5rem;
            }
            @include media-bp-min(desktop-xl) {
                font-size: 2rem;
            }
        }
    }
}
