<section class="page-section light-grey usp">
    <div class="column usp-box">
        <figure>
            ${require('../../images/Icons/rocket.svg')}
        </figure>
        <p>Build faster</p>
    </div>
    <div class="column usp-box">
        <figure>
            ${require('../../images/Icons/brick.svg')}
        </figure>
        <p>Make it simpler</p>
    </div>
    <div class="column usp-box">
        <figure>
            ${require('../../images/Icons/roi.svg')}
        </figure>
        <p>Greater ROI</p>
    </div>
    <div class="column usp-box">
        <figure>
            ${require('../../images/Icons/innovation.svg')}
        </figure>
        <p>Innovate exponentially</p>
    </div>
    <div class="column usp-box">
        <figure>
            ${require('../../images/Icons/deployModels.svg')}
        </figure>
        <p>Deploy new business models</p>
    </div>

</section>