<section class="page-section orange splash-header">
    <div class="content">
        <h1>Dolittle as a service</h1>
        <p>Dolittle is a cloud platform that helps you write and deploy your business applications faster!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ea libero accusamus totam asperiores ex molestias recusandae illum ab necessitatibus, error pariatur sit, facere placeat cupiditate quasi atque reiciendis? Commodi.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo esse molestias voluptas, tempore quidem eaque ullam quis maxime minima vitae iste cum voluptate, sequi veniam officiis nisi? Quis, et aut?
        </p>
    </div>
</section>