.splash-header {
    @extend %flex-container-vertical-center;
    padding: $grid-gutter;
    background-color: $color-medium-light-grey;
    @include media-bp-min(tablet) {
        background-image: url('../images/orangeOffice.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; // background-blend-mode: multiply;
        padding: $grid-gutter * 3 $grid-gutter $grid-gutter * 8;
        color: $color-white;
    }
    .content {
        @extend %fixed-width-at-desktop;
        @include media-bp-min(tablet) {
            padding: $grid-gutter;
        }
    }
    h1 {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.3em;
        margin: 2rem 0;
        text-transform: uppercase;
        @include media-bp-min(tablet) {
            font-size: 2.5rem;
        }
        @include media-bp-min(desktop) {
            font-size: $font-size-h1;
        }
    }
}
