$footer-content-text-color: #969696 !default;
.footer-content {
    @extend %flex-container;
    @extend %flex-center-vertical;
    padding: 1rem;
    text-align: center;
    font-size: .875rem;
    color: $footer-content-text-color;
    a {
        color: $footer-content-text-color;
    }
    address {
        font-style: normal;
    }
    nav {
        @extend %flex-container;
        @extend %flex-center-horizontal;
        margin-bottom: 1.5rem;
        a {
            border: 1px solid #8a8a8a;
            display: block;
            height: 3rem;
            margin: 1rem;
            padding: .5rem;
            width: 3rem;
        }
    }
}