<section class="page-section dark-blue about-us" id="about">
    <div class="content">
        <div class="text-box">

            <h2>About us!</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repudiandae asperiores placeat. Deserunt nostrum ipsam ipsa
                hic aperiam ut eum mollitia atque, sed dicta eaque quod sunt adipisci unde perspiciatis.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, voluptatum? Vitae perspiciatis similique
                laborum corporis et cupiditate illum? Vero totam perferendis ipsam amet nihil assumenda ducimus hic beatae repellat
                minima.</p>
            </div>
    </div>
</section>