.about-us {
    h2 {
        text-align: center;
        text-transform: uppercase;
    }
}
.contact-list {
    @extend %flex-container-horizontal-center;
    flex-wrap: wrap;
    li {
        flex: 0 1 22rem;
        padding: 2rem;
    }
    figure {
        width: 60%;
        margin: 0 auto;
        img {
            border-radius: 50%;
            border: 0.1875rem solid $color-brand-yellow;
        }
    }
    h3 {
        color: $color-brand-yellow;
        font-size: 1.25rem;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
    }
    strong {
        font-weight: normal;
        margin-bottom: 1rem;
        text-align: center;
        display: block;
    }
    p {
        font-size: 0.875rem;
    }
}
