.large-text {
    line-height: 1.25em;
    font-weight: 300;
    @include media-bp-min(tablet) {
        font-size: 1.25rem;
    }
    @include media-bp-min(desktop) {
        font-size: 1.5rem;
        line-height: 1.3em;
    }
}

blockquote {
    padding:2.5rem;
    position:relative;
    &:before, &:after {
        color: $color-medium-dark-grey;
        content: open-quote;
        font-size: 9rem;
        font-style: italic;
        position: absolute;
        top:6rem;
        left:-3rem;
        display:block;
    }
    &:after{
        content: close-quote;
        right:3rem;
        bottom:3rem;
        top:auto;
        left:auto;
    }
    p {
        font-size: 1.7rem;
        font-style: italic;
        line-height: 1.5em;
        margin-bottom:.5rem;
        @include media-bp-min(tablet) {
            font-size: 2.5rem;
        }
    }
    .quote-by {
        display: block;
        text-align: right;
        font-size: .8rem;    

        &:before {
            content: "- ";
        }
    }
}