<section class="page-section" id="contact">
    <h2>This is Dolittle</h2>
    <ul class="contact-list">
        <li>
            <figure>
                <img src="${require('../../images/Profiles/Arif.jpg')}" alt="">
            </figure>
            <div class="text">
                <h3>Arif Shafique</h3>
                <strong class="titel">CEO</strong>
                <p>20 years in the industry with product development background. 
                    12 years in Microsoft help building SaaS businesses
                    with Nordic software companies.</p>
            </div>
        </li>
        <li>
            <figure>
                <img src="${require('../../images/Profiles/Einar.jpg')}" alt="">
            </figure>
            <div class="text">
                <h3>Einar Ingebrigtsen</h3>
                <strong class="title">CTO</strong>
                <p>23 years of enterprise software development. 
                    One of Microsoft highest rewarded cloud architects globally. 
                    Main developer of Dolittle open source platform.
                </p>
            </div>
        </li>
        <li>
            <figure>
                <img src="${require('../../images/Profiles/Michael.jpg')}" alt="">
            </figure>
            <div class="text">
                <h3>Michael Smith</h3>
                <strong class="title">Chief Success Officer</strong>
                <p>
                    17 years for enterprise software development using event driven 
                    design principles. Part of core team developing Dolittle open 
                    source platform.
                </p>
            </div>
        </li>
        <li>
            <figure>
                <img src="${require('../../images/Profiles/Petri.jpg')}" alt="">
            </figure>
            <div class="text">
                <h3>Petri Wilhelmsen</h3>
                <strong class="title">VP Digital Twin</strong>
            </div>
        </li>
        <li>
            <figure>
                <img src="${require('../../images/Profiles/Vidar.jpg')}" alt="">
            </figure>
            <div class="text">
                <h3>Vidar Aune Westrum</h3>
                <strong class="title">Design Lead</strong>
                <p>16 years of experience with web development and 13 years 
                of experience with enterprise web solutions with both internal 
                and external users as target.</p>
            </div>
        </li>
    </ul>
</section>