.contact-list {
    @extend %flex-container;
    @extend %flex-center-horizontal;
    flex-wrap: wrap;
    li {
        flex: 0 1 350px;
        padding: 2rem;
    }
    figure {
        width: 60%;
        margin: 0 auto;
        img {
            border-radius: 50%;
            border: 0.1875rem solid $color-brand-yellow;
        }
    }
    h3 {
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    strong {
        font-weight: normal;
        margin-bottom: 1rem;
        display: block;
        color: #969696;
    }
    p {
        font-size: .875rem;
    }
}