.legal {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #444;
}

.legal header {
    height: 8rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 0.0625rem solid #ddd;
}
.legal header > .site-logo {
    width: 12rem;
    display: block;
}
.legal header > .updated {
    margin-left: auto;
    margin-top: auto;
}
@media screen {
    .legal header,
    .legal main {
        width: 50rem;
    }
}
@media print {
    .legal {
        color: #000;
    }
    .legal header {
        width: 100%;
        height: 3cm;
        margin-bottom: 1.6cm;
       }
    .site-logo::after {
        display: none;
    }
}
