<div class="footer-content">
    <nav>
        <a href="https://twitter.com/dolittle" target="blank">Twitter</a>
        <a href="https://www.facebook.com/dolittleX/" target="blank">Facebook</a>
        <a href="https://www.linkedin.com/company/dolittle/" target="blank">LinkedIn</a>
    </nav>
    <p>© All rights reserved. Dolittle Inc.</p>
    <address>
        <p>Leif Weldingsvei 20</p>
        <p>3209 Sandefjord, Norway</p>
        <p>
            <a href="mailto:hello@dolittle.com">hello@dolittle.com</a>
        </p>
    </address>
</div>