<div class="footer-content">
    <!-- <nav>
        <a href="https://twitter.com/dolittle" target="blank">Twitter</a>
        <a href="https://www.facebook.com/dolittleX/" target="blank">Facebook</a>
        <a href="https://www.linkedin.com/company/dolittle/" target="blank">LinkedIn</a>
    </nav> -->
    <p>© All rights reserved. Dolittle AS</p>
    <address>
        <p>Leif Weldingsvei 20</p>
        <p>3208 Sandefjord, Norway</p>
        <p>
            <a href="mailto:yo@dolittle.com">yo@dolittle.com</a>
        </p>
    </address>
</div>