<div class="footer-content">
    <nav>
        <a href="https://twitter.com/dolittle" target="blank">
            ${require('../../images/Icons/twitter.svg')}
        </a>
        <a href="https://medium.com/dolittle" target="blank">
            ${require('../../images/Icons/medium.svg')}
        </a>
        <a href="https://www.facebook.com/dolittleX/" target="blank">
            ${require('../../images/Icons/facebook.svg')}
        </a>
        <a href="https://www.linkedin.com/company/dolittle/" target="blank">
            ${require('../../images/Icons/linkedin.svg')}
        </a>
    </nav>
    <p>© All rights reserved. Dolittle AS</p>
    <address>
        <p>Leif Weldingsvei 18</p>
        <p>3208 Sandefjord, Norway</p>
        <p>
            <a href="mailto:yo@dolittle.com">yo@dolittle.com</a>
        </p>
    </address>
</div>