$footer-content-text-color: #969696 !default;
.footer-content {
    @extend %flex-container-vertical-center;
    padding: 1rem;
    text-align: center;
    color: $footer-content-text-color;
    p {
        font-size: 0.875rem;
        line-height: 1.3em;
        margin-bottom: 1.25em;
    }
    a {
        color: $footer-content-text-color;
    }
    address {
        font-style: normal;
    }
    nav {
        @extend %flex-container-horizontal-center;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
        a {
            border: 1px solid #8a8a8a;
            display: block;
            height: 3rem;
            margin: 1rem;
            padding: 0.5rem;
            width: 3rem;
        }
    }
}
