.header-content {
    @extend %flex-container-vertical-center;
    padding-top: 1rem;
    @include media-bp-min(tablet) {
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5rem $grid-gutter*3 2rem;
    }
    .site-logo {
        display: block;
        max-width: 100%;
        transition: .5s width;
        width: 15rem;
        @include media-bp-min(tablet) {
            width: 20rem;
        }
        @include media-bp-min(tablet-landscape) {
            width: 21.875rem;
        }
        svg {
            max-width: 100%;
        }
    }
    nav {
        text-transform: uppercase;
        padding: .5rem 0;
        @include media-bp-min(tablet) {
            padding: .5rem 0 1.2rem;
        }
        @include media-bp-min(tablet-landscape) {
            padding: .5rem 0 1.3rem;
        }
        a {
            color: $color-black;
            display: inline-block;
            letter-spacing: 0.02em;
            line-height: 1em;
            padding: 0 .7rem;
            &:not(:first-child) {
                border-left: 0.0625rem solid $color-black;
            }
            &:hover {
                color: $color-brand-orange;
            }
        }
    }
}