<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dolittle.com</title>
</head>

<body>
    <header>
        <%= require('./Components/navigation.html') %>
    </header>
    <figure>
        <%= require('./images/dolittle_positiv_vertikal.svg') %>
    </figure>

    <h1>Dolittle.com</h1>
    <%= require('./Pages/'+htmlWebpackPlugin.options.filename) %>

</body>

</html>