#fh5co-home .gradient {
    background-image: repeating-linear-gradient(to bottom right, #004366 0%, #333333 100%);
    display: grid;
}
.fh5co-person {
    margin-bottom: 8rem;
}

.btn.btn-primary {
    background: #ff4b00;
}

#fh5co-intro {
    .fh5co-block {
        > .fh5co-text {
            .fh5co-intro-icon {
                color: #33b9e6;
            }
        }
    }
}
